<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <div class="jumbotron">
      <p>This site serves as an interface to services on mticserver</p>
    </div>
    {{> footer}}
  </body>
</html>
